{% extends "base.html" %}

{% block content %}
<section class="section">

<div class="container mt-4">

    <h3 class="mb-3">
        Variables – {{ salarie.prenom }} {{ salarie.nom }}
        <br>
        <small class="text-muted">{{ paie_mois.mois }}/{{ paie_mois.annee }}</small>
    </h3>

    <form method="post">
        {% csrf_token %}

        <div class="row g-3">
<div class="row g-3">
    {% for field in form %}
        <div class="col-md-6">
            <label class="form-label">{{ field.label }}</label>
            {{ field }}
        </div>
    {% endfor %}
</div>
        </div>

        <button type="submit" class="btn btn-primary mt-3">Enregistrer</button>
        <a href="{% url 'paie:variables_paie_salaries' paie_mois.id %}"
           class="btn btn-secondary mt-3">Retour</a>
    </form>

</div>
{% endblock %}
