# Python
__pycache__/
*.py[cod]

# SQLite (local only)
*.sqlite3

# Django static & media
staticfiles/
media/

# VSCode
.vscode/

# Environment
.env
.venv/

# Local settings (ne jamais envoyer sur Render)
settings_local.py

# Node / JS (si jamais tu ajoutes du JS buildé)
node_modules/
