# Python
__pycache__/
*.py[cod]

# SQLite (local only)
*.sqlite3

# Django static & media
static/
media/

# VSCode
.vscode/

# Environment
.env
.venv/

# Local settings (ne jamais envoyer sur Render)
settings_local.py
.env
