{% extends "base_paie_client.html" %}

{% block content %}
<section class="section">
    <h3>Changer mon mot de passe</h3>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
{% if form.errors %}
<div class="alert alert-danger">
    {% for field, errors in form.errors.items %}
        {% for error in errors %}
            <div>{{ error }}</div>
        {% endfor %}
    {% endfor %}
</div>
{% endif %}

        <button class="btn btn-primary">Mettre à jour</button>
    </form>
</section>
{% endblock %}
